USE [master]
GO
/****** Object:  Database [EntidadFinanciera]    Script Date: 8/19/2018 7:38:00 PM ******/
CREATE DATABASE [EntidadFinanciera]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EntidadFinanciera', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLSERVER\MSSQL\DATA\EntidadFinanciera.mdf' , SIZE = 8192KB , MAXSIZE = 10240KB , FILEGROWTH = 5120KB )
 LOG ON 
( NAME = N'EntidadFinanciera_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLSERVER\MSSQL\Log\EntidadFinanciera.ldf' , SIZE = 1024KB , MAXSIZE = 10240KB , FILEGROWTH = 5120KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EntidadFinanciera].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EntidadFinanciera]
GO
USE [EntidadFinanciera]
GO
/****** Object:  Table [dbo].[BancoExteno]    Script Date: 8/19/2018 7:38:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BancoExteno](
	[IdTransacE] [int] IDENTITY(1,1) NOT NULL,
	[CuentaExterna] [nvarchar](50) NOT NULL,
	[DetalleTrans] [nvarchar](50) NOT NULL,
	[Monto] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTransacE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 8/19/2018 7:38:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[Cedula] [int] NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Apellido1] [nvarchar](50) NOT NULL,
	[Apellido2] [nvarchar](50) NOT NULL,
	[FechaNac] [datetime] NULL,
	[Telefono] [nvarchar](50) NOT NULL,
	[Correo] [nvarchar](50) NOT NULL,
	[Provincia] [nvarchar](50) NOT NULL,
	[DireccionExac] [nvarchar](50) NOT NULL,
	[SaldoCuenta] [int] NOT NULL,
	[Contrasena] [nvarchar](50) NOT NULL,
	[CuentaInterna] [nvarchar](50) NOT NULL,
	[CuentaSimpe] [nvarchar](50) NOT NULL,
	[Descripcion] [nvarchar](50) NOT NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Cedula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Servicio]    Script Date: 8/19/2018 7:38:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Servicio](
	[IdSevicio] [int] IDENTITY(1,1) NOT NULL,
	[DescServicio] [nvarchar](50) NOT NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdSevicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transaccion]    Script Date: 8/19/2018 7:38:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transaccion](
	[IdTransac] [int] IDENTITY(1,1) NOT NULL,
	[Cedula] [int] NULL,
	[CuentaInterna] [nvarchar](50) NOT NULL,
	[CuentaSimpe] [nvarchar](50) NOT NULL,
	[Descripcion] [nvarchar](50) NOT NULL,
	[Monto] [int] NOT NULL,
	[HorayFecha] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTransac] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 8/19/2018 7:38:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Usuario] [nvarchar](50) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Contrasena] [nvarchar](50) NOT NULL,
	[Perfil] [nvarchar](50) NOT NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Cliente] ([Cedula], [Nombre], [Apellido1], [Apellido2], [FechaNac], [Telefono], [Correo], [Provincia], [DireccionExac], [SaldoCuenta], [Contrasena], [CuentaInterna], [CuentaSimpe], [Descripcion], [Estado]) VALUES (205670432, N'Mrcela', N'Salas', N'Montolla', CAST(N'1980-06-18T00:00:00.000' AS DateTime), N'+506-2270-4876', N'marsalas91@hotmail.com', N'Heredia', N'Al costado sur del putero linda visa', 20000, N'123456789', N'004-3744119-7', N'04630263238213528', N'Apertura de Cuenta', 1)
SET IDENTITY_INSERT [dbo].[Transaccion] ON 

INSERT [dbo].[Transaccion] ([IdTransac], [Cedula], [CuentaInterna], [CuentaSimpe], [Descripcion], [Monto], [HorayFecha]) VALUES (1, 205670432, N'004-3744119-7', N'04630263238213528', N'Apertura de Cuenta', 20000, CAST(N'2018-08-18T10:00:52.360' AS DateTime))
SET IDENTITY_INSERT [dbo].[Transaccion] OFF
INSERT [dbo].[Usuario] ([Usuario], [Nombre], [Contrasena], [Perfil], [Estado]) VALUES (N'205670432', N'Mrcela Salas Montolla', N'123456789', N'Cliente', 1)
ALTER TABLE [dbo].[BancoExteno] ADD  DEFAULT ('Sin Descripcion') FOR [CuentaExterna]
GO
ALTER TABLE [dbo].[BancoExteno] ADD  DEFAULT ('Sin Descripcion') FOR [DetalleTrans]
GO
ALTER TABLE [dbo].[BancoExteno] ADD  DEFAULT ((1)) FOR [Monto]
GO
ALTER TABLE [dbo].[Cliente] ADD  DEFAULT ('Sin Nombre') FOR [Nombre]
GO
ALTER TABLE [dbo].[Cliente] ADD  DEFAULT ('Sin Nombre') FOR [Apellido1]
GO
ALTER TABLE [dbo].[Cliente] ADD  DEFAULT ('Sin Nombre') FOR [Apellido2]
GO
ALTER TABLE [dbo].[Cliente] ADD  DEFAULT ('12345') FOR [Telefono]
GO
ALTER TABLE [dbo].[Cliente] ADD  DEFAULT ('Sin Nombre') FOR [Correo]
GO
ALTER TABLE [dbo].[Cliente] ADD  DEFAULT ('Sin Nombre') FOR [Provincia]
GO
ALTER TABLE [dbo].[Cliente] ADD  DEFAULT ('Sin Nombre') FOR [DireccionExac]
GO
ALTER TABLE [dbo].[Cliente] ADD  DEFAULT ((1)) FOR [SaldoCuenta]
GO
ALTER TABLE [dbo].[Cliente] ADD  DEFAULT ('Sin Nombre') FOR [Contrasena]
GO
ALTER TABLE [dbo].[Cliente] ADD  DEFAULT ('Sin Nombre') FOR [CuentaInterna]
GO
ALTER TABLE [dbo].[Cliente] ADD  DEFAULT ('Sin Nombre') FOR [CuentaSimpe]
GO
ALTER TABLE [dbo].[Cliente] ADD  DEFAULT ('Sin Descripcion') FOR [Descripcion]
GO
ALTER TABLE [dbo].[Cliente] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Servicio] ADD  DEFAULT ('Sin Descripcion') FOR [DescServicio]
GO
ALTER TABLE [dbo].[Servicio] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Transaccion] ADD  DEFAULT ('Sin Descripcion') FOR [CuentaInterna]
GO
ALTER TABLE [dbo].[Transaccion] ADD  DEFAULT ('Sin Descripcion') FOR [CuentaSimpe]
GO
ALTER TABLE [dbo].[Transaccion] ADD  DEFAULT ('Sin Descripcion') FOR [Descripcion]
GO
ALTER TABLE [dbo].[Transaccion] ADD  DEFAULT ((1)) FOR [Monto]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ('Sin nombre') FOR [Nombre]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ('12345') FOR [Contrasena]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((1)) FOR [Estado]
GO
/****** Object:  StoredProcedure [dbo].[pa_BancoExteno_Delete]    Script Date: 8/19/2018 7:38:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pa_BancoExteno_Delete]
	@CuentaExterna	nvarchar(50)
AS
BEGIN
DELETE FROM BancoExteno WHERE CuentaExterna = @CuentaExterna
END
GO
/****** Object:  StoredProcedure [dbo].[pa_BancoExteno_Insert]    Script Date: 8/19/2018 7:38:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Creacion de Procedimientos Almacenados
--Tabla BancoExteno

CREATE PROCEDURE [dbo].[pa_BancoExteno_Insert]
	@CuentaExterna 	nvarchar(50),
	@DetalleTrans 	nvarchar(50),
	@Monto 			int
AS 
BEGIN
INSERT INTO BancoExteno VALUES(@CuentaExterna,@DetalleTrans,@Monto)
END
GO
/****** Object:  StoredProcedure [dbo].[pa_BancoExteno_Update]    Script Date: 8/19/2018 7:38:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pa_BancoExteno_Update]
	@CuentaExterna 	nvarchar(50),
	@DetalleTrans 	nvarchar(50),
	@Monto 			int
AS  
BEGIN
UPDATE BancoExteno
SET  CuentaExterna = @CuentaExterna, DetalleTrans = @DetalleTrans, Monto = @Monto
WHERE CuentaExterna = @CuentaExterna
END
GO
/****** Object:  StoredProcedure [dbo].[pa_Cliente_AbonoRetiroExterno]    Script Date: 8/19/2018 7:38:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pa_Cliente_AbonoRetiroExterno]
	@CuentaSimpe 	nvarchar(50),
	@Descripcion	nvarchar(50),
	@SaldoCuenta   	int
AS
BEGIN
UPDATE Cliente
SET Descripcion = @Descripcion, SaldoCuenta = @SaldoCuenta 
WHERE CuentaSimpe = @CuentaSimpe
END
GO
/****** Object:  StoredProcedure [dbo].[pa_Cliente_AbonoRetiroInterno]    Script Date: 8/19/2018 7:38:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Creacion de pa para Transferencia de Cuentas Internas
CREATE PROCEDURE [dbo].[pa_Cliente_AbonoRetiroInterno]
	@CuentaInterna 	nvarchar(50),
	@Descripcion	nvarchar(50),
	@SaldoCuenta   	int
AS
BEGIN
UPDATE Cliente
SET Descripcion = @Descripcion, SaldoCuenta = @SaldoCuenta
WHERE CuentaInterna = @CuentaInterna
END
GO
/****** Object:  StoredProcedure [dbo].[pa_Cliente_Delete]    Script Date: 8/19/2018 7:38:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pa_Cliente_Delete]
	@Cedula int
AS
BEGIN
DELETE FROM Cliente WHERE Cedula = @Cedula
END
GO
/****** Object:  StoredProcedure [dbo].[pa_Cliente_Insert]    Script Date: 8/19/2018 7:38:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Creacion de Procedimientos Almacenados
--Tabla Cliente

CREATE PROCEDURE [dbo].[pa_Cliente_Insert]
	@cedula 		int,
	@Nombre 		nvarchar(50),
	@Apellido1     	nvarchar(50),
	@Apellido2     	nvarchar(50),
	@FechaNac      	datetime,
	@Telefono     	nvarchar(50),
	@Correo	       	nvarchar(50),
	@Provincia     	nvarchar(50),
	@DireccionExac 	nvarchar(50),
	@SaldoCuenta   	int,
	@Contrasena	   	nvarchar(50),
	@CuentaInterna 	nvarchar(50),
	@CuentaSimpe	nvarchar(50),
	@Descripcion	nvarchar(50),
	@Estado		   	bit
AS 
BEGIN
INSERT INTO Cliente VALUES(
	@cedula,@Nombre,@Apellido1,@Apellido2,@FechaNac,@Telefono,@Correo,
	@Provincia,@DireccionExac,@SaldoCuenta,@Contrasena,@CuentaInterna,
	@CuentaSimpe,@Descripcion,@Estado
)
END
GO
/****** Object:  StoredProcedure [dbo].[pa_Cliente_Update]    Script Date: 8/19/2018 7:38:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pa_Cliente_Update]
	@Cedula 		int,
	@Nombre 		nvarchar(50),
	@Apellido1     	nvarchar(50),
	@Apellido2     	nvarchar(50),
	@FechaNac      	datetime,
	@Telefono     	nvarchar(50),
	@Correo	       	nvarchar(50),
	@Provincia     	nvarchar(50),
	@DireccionExac 	nvarchar(50),
	@SaldoCuenta   	int,
	@Contrasena	   	nvarchar(50),
	@CuentaInterna 	nvarchar(50),
	@CuentaSimpe	nvarchar(50),
	@Descripcion	nvarchar(50),
	@Estado		   	bit
AS 
BEGIN
UPDATE Cliente
SET Cedula = @Cedula, Nombre = @Nombre, Apellido1 = @Apellido1, Apellido2 = @Apellido2,
	FechaNac = @FechaNac, Telefono = @Telefono, Correo = @Correo, Provincia = @Provincia,
	DireccionExac = @DireccionExac, SaldoCuenta = @SaldoCuenta, Contrasena = @Contrasena,
	CuentaInterna = @CuentaInterna, CuentaSimpe = @CuentaSimpe, Descripcion = @Descripcion,
	Estado = @Estado
WHERE Cedula = @cedula
END
GO
/****** Object:  StoredProcedure [dbo].[pa_ConsultaSaldos]    Script Date: 8/19/2018 7:38:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pa_ConsultaSaldos]
	@Cedula int
AS
BEGIN
	SELECT cl.SaldoCuenta, cl.Cedula	
	FROM Cliente cl 
	where cl.Cedula = @Cedula
END
GO
/****** Object:  StoredProcedure [dbo].[pa_EstadosdeCuenta]    Script Date: 8/19/2018 7:38:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pa_EstadosdeCuenta]
	@Cedula int
AS
BEGIN
	SELECT 	tnsc.IdTransac, tnsc.Cedula, tnsc.CuentaInterna, tnsc.CuentaSimpe, 
			tnsc.Descripcion, tnsc.Monto, tnsc.HorayFecha
	FROM Transaccion tnsc
	WHERE  tnsc.Cedula = @Cedula
	ORDER BY tnsc.IdTransac
END
GO
/****** Object:  StoredProcedure [dbo].[pa_Globales]    Script Date: 8/19/2018 7:38:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pa_Globales]
AS
BEGIN
	SELECT cl.cuentaInterna AS Cuenta, cl.CuentaSimpe AS Simpe, cl.saldoCuenta As Fondos	
	FROM Cliente cl
	ORDER BY cl.saldoCuenta
END
GO
/****** Object:  StoredProcedure [dbo].[pa_Login]    Script Date: 8/19/2018 7:38:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pa_Login]
	@Usuario 	nvarchar(50),
	@Contrasena 	nvarchar(50)
AS
BEGIN
	SELECT US.Usuario, US.Nombre, US.Contrasena, US.Perfil, US.Estado
	FROM  Usuario US WHERE US.Usuario = @Usuario  AND US.Contrasena = @Contrasena 
END
GO
/****** Object:  StoredProcedure [dbo].[pa_Servicio_Delete]    Script Date: 8/19/2018 7:38:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pa_Servicio_Delete]
	@DescServicio 	nvarchar(50)
AS
BEGIN
DELETE FROM Servicio WHERE DescServicio = @DescServicio
END
GO
/****** Object:  StoredProcedure [dbo].[pa_Servicio_Insert]    Script Date: 8/19/2018 7:38:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Creacion de Procedimientos Almacenados
--Tabla Servicio

CREATE PROCEDURE [dbo].[pa_Servicio_Insert]
	@DescServicio 	nvarchar(50),
	@Estado 		bit
AS 
BEGIN
INSERT INTO Servicio VALUES(@DescServicio,@Estado)
END
GO
/****** Object:  StoredProcedure [dbo].[pa_Servicio_Update]    Script Date: 8/19/2018 7:38:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pa_Servicio_Update]
	@DescServicio 	nvarchar(50),
	@Estado 		bit
AS 
BEGIN
UPDATE Servicio
SET DescServicio = @DescServicio, Estado = @Estado
WHERE DescServicio = @DescServicio
END
GO
/****** Object:  StoredProcedure [dbo].[pa_TransaccionesRegistradas]    Script Date: 8/19/2018 7:38:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pa_TransaccionesRegistradas]
AS
BEGIN
	SELECT 	tnsc.IdTransac, tnsc.Cedula, tnsc.CuentaInterna, tnsc.CuentaSimpe, 
	tnsc.Descripcion, tnsc.Monto, tnsc.HorayFecha
	FROM Transaccion tnsc 
	ORDER BY tnsc.IdTransac
END
GO
/****** Object:  StoredProcedure [dbo].[pa_Usuario_Delete]    Script Date: 8/19/2018 7:38:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pa_Usuario_Delete]
	@Usuario nvarchar(50)
AS
BEGIN
DELETE FROM Usuario WHERE Usuario = @Usuario
END
GO
/****** Object:  StoredProcedure [dbo].[pa_Usuario_Insert]    Script Date: 8/19/2018 7:38:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Creacion de Procedimientos Almacenados
--Tabla Usuario

CREATE PROCEDURE [dbo].[pa_Usuario_Insert]
	@Usuario 		nvarchar(50),
	@Nombre 		nvarchar(50),
	@Contrasena 	nvarchar(50),
	@Perfil			nvarchar(50),
	@Estado 		bit
AS 
BEGIN
INSERT INTO Usuario VALUES(@Usuario,@Nombre,@Contrasena,@Perfil,@Estado)
END
GO
/****** Object:  StoredProcedure [dbo].[pa_Usuario_Update]    Script Date: 8/19/2018 7:38:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pa_Usuario_Update]
	@Usuario 		nvarchar(50),
	@Nombre 		nvarchar(50),
	@Contrasena 	nvarchar(50),
	@Perfil			nvarchar(50),
	@Estado 		bit
AS 
BEGIN
UPDATE Usuario
SET Usuario = @Usuario, Nombre = @Nombre, Contrasena = @Contrasena, Perfil=@Perfil, Estado = @Estado
WHERE Usuario = @Usuario
END
GO
/****** Object:  StoredProcedure [dbo].[pa_VerEstadoClientes]    Script Date: 8/19/2018 7:38:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Creacion de pa para ver Estados de los Clientes
CREATE PROCEDURE [dbo].[pa_VerEstadoClientes]
	@Estado bit
AS
BEGIN
	SELECT 	cl.Cedula, cl.Nombre, cl.Apellido1, cl.Apellido2
	FROM Cliente cl 
	WHERE cl.Estado = @Estado
	ORDER BY cl.Cedula
END
GO
/****** Object:  StoredProcedure [dbo].[pa_VerEstadoUsuarios]    Script Date: 8/19/2018 7:38:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pa_VerEstadoUsuarios]
	@Estado bit
AS
BEGIN
	SELECT 	usu.Usuario, usu.Nombre, usu.Estado
	FROM Usuario usu 
	WHERE usu.Estado = @Estado
	ORDER BY usu.Usuario
END
GO
USE [master]
GO
